/* LINE Seed Sans TH — all website font */
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/fonts/LINESeedSansTH_Th.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/fonts/LINESeedSansTH_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/fonts/LINESeedSansTH_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/fonts/LINESeedSansTH_XBd.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("/fonts/LINESeedSansTH_He.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
